@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Allgemeine Stilanpassungen */

body {
    font-family: 'Roboto';
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
  main {
      padding: 10px;
  }
}
/* Header-Stil */

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 3px;
}

h1 {
    color: #ffffff;
    font-size: 35px;
      font-weight: 300;
    text-align: center;
  }

/* Navigationsmenü */

nav {
    background-color: #643f0d; /* Hintergrundfarbe der Navigationsleiste */
    overflow: hidden;
    position: relative; /* Ändert die Position in "relative" */
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten unter der Navigationsleiste */
    z-index: 1000;
    top: 0; /* Du kannst die Position mit "top" anpassen, um die vertikale Ausrichtung zu steuern */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s; /* sanfter Übergangseffekt beim Hovern */
}


/* Zeigt das Dropdown-Menü, wenn der Mauszeiger darüber schwebt */
nav:hover .dropdown-content {
    display: block;
}
/* Ändert die Hintergrundfarbe, wenn der Mauszeiger darüber schwebt */
nav a:hover {
    background-color: #8d5307;
    color: #fff;
    border-radius: 6px; /* Runde Ecken für die Buttons */
}

/* Fügt einen Dropdown-Pfeil hinzu, wenn es Untermenüs gibt */
nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Stil für Dropdown-Menüoptionen */
nav .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    transition: background-color 0.3s;
}

/* Hauptinhalt */

main {
    max-width: 800px;
    margin: 150px auto;
    padding: 20px;
    background-color: rgba(242,242,243,0.6);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

main p {
    font-size: 1rem;
    line-height: 1.5;
}

main a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
}

main a:hover {
    background-color: #555;
}

/* Footer */

footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000; /* Hintergrundfarbe anpassen */
    text-align: center;
    padding: 10px;
    z-index: 999; /* Damit der Footer unter der 'aside' liegt */
    margin-top: 5%;
}

/* Login-Form*/

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(242,242,243,0.6);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 10px 60px 5px 5px;
  width: 100%;
}

#login-form-submit,
#login-forgot-password,
#login-create-account {
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}


/* Calendar styles */
#calendar {
  background-color: rgba(242,242,243,0.7);
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5%;
  width: 55%;
  height: 35%;
  }



.fc-event {
  background-color:#555;
  color: white;
  text-align: center;
}

:root {
  --fc-today-bg-color: rgba(25, 193, 193, 0.489);
}

/* Styles für die Serviceoptionen */
#book-appointment {
  background-color: rgba(242, 242, 243, 0.6);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  margin: 10px;
  margin-top: 5%;

  width: 40%;
}

/* Stil für die Radiobutton-Labels */
.radio-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stil für die Radiobuttons */
.radio-input {
  margin-right: 10px;
  cursor: pointer;
}

/* Stil für den Radiobutton-Text */
.radio-text {
  font-size: 16px;
  color: #3a3a3a;
}

.container {
  display: flex;
  align-items: flex-start; /* Ausrichtung der Elemente am Anfang der Hauptachse */
  justify-content: space-between; /* Elemente werden am Anfang und am Ende des Containers ausgerichtet */
  padding: 15px;
}
