@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Allgemeine Stilanpassungen */

body {
    font-family: 'Roboto';
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }
}

/* Header-Stil */

header {
  background-color: #000000;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  max-width: 200px;
  height: auto;
}

h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

/* Navigationsmenü */

nav {
  background-color: #402400; /* Hintergrundfarbe der Navigationsleiste */
  overflow: hidden;
  position: relative; /* Ändert die Position in "relative" */
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schatten unter der Navigationsleiste */
  z-index: 0;

}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
  display: inline-block;
}

nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
  transition: background-color 0.6s; /* sanfter Übergangseffekt beim Hovern */
}

/* Stil für Navigationsleistenbuttons */
nav ul li a {
  border: 1px solid #d29107; /* Helle braune Umrandung */
  border-radius: 6px; /* Leicht abgerundete Ecken */
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Ändert die Hintergrundfarbe, wenn der Mauszeiger darüber schwebt */
nav a:hover {
  background-color: #8d5307;
  color: #fff;
  border-radius: 6px; /* Runde Ecken für die Buttons */
}

.dropdown {
  position: relative;
}


.dropbtn {
  border: 1px solid #d29107; /* Helle braune Umrandung */
  border-radius: 6px; /* Leicht abgerundete Ecken */
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
}

/* Style the list items within the dropdown */
.dropdown-content li {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #402400;
  border-radius: 6px;
  text-align: center;
  background:none;
}

.dropdown-content a {
  display: block; /* Die Dropdown-Links sollten jetzt als Block-Elemente angezeigt werden */
  text-align: center;
}


/* Optional: Add some spacing between the list items */
.dropdown-content li:not(:last-child) {
  margin-bottom: 5px;
}



/* Hauptinhalt */

main {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  background-color: rgba(242, 242, 243, 0.6);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main p {
  font-size: 1rem;
  line-height: 1.5;
}

main a {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
}

main a:hover {
  background-color: #555;
}

/* Footer */

footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000; /* Hintergrundfarbe anpassen */
  text-align: center;
  padding: 10px;
  z-index: 999; /* Damit der Footer unter der 'aside' liegt */
  margin-top: 5%;
}

/* Login-Form*/

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(242,242,243,0.6);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form ,
#signup-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field,
.signup-field {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 10px 60px 5px 5px;
  width: 100%;
}

#login-form-submit,
#login-signup,
#login-pw-recovery,
#signup-form-submit,
#pw-recovery,
#submit-appointment {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
  font-family: 'Roboto';
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  border-radius: 6px; /* Leicht abgerundete Ecken */
}

#book-appointment-landing,
#login-signup-landing,
#login-signin-landing {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  border-radius: 6px; /* Leicht abgerundete Ecken */
}

#login-form-submit:hover,
#login-signup:hover,
#login-pw-recovery:hover,
#signup-form-submit:hover,
#pw-recovery:hover,
#submit-appointment:hover,
#book-appointment-landing:hover,
#login-signup-landing:hover,
#login-signin-landing:hover  {
  background-color: #555;
  color: #d29107
}



/* Calendar styles */
#calendar {
  background-color: rgba(241,242,243,0.7);
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 5%;
  width: 55%;
  height: 35%;
  }



.fc-event {
  background-color:#555;
  color: white;
  text-align: center;
}

:root {
  --fc-today-bg-color: rgba(210,145,7, 0.25);
}

/* Styles für die Serviceoptionen */
#book-appointment {
  background-color: rgba(242, 242, 243, 0.6);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  margin: 10px;
  margin-top: 5%;
  width: 50%;
}

#submit-appointment {
  width:auto;
  padding: 7px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

.container {
  display: flex;
  align-items: flex-start; /* Ausrichtung der Elemente am Anfang der Hauptachse */
  justify-content: space-between; /* Elemente werden am Anfang und am Ende des Containers ausgerichtet */
  padding: 15px;
}

.hint-box {
  margin-top: 10px; /* Fügt Abstand zwischen Submit-Button und Hinweis-Box hinzu */
  padding: 10px;
  background-color: #f0f0f0; /* Hintergrundfarbe der Hinweis-Box */
  border: 1px solid #ccc; /* Rand um die Hinweis-Box */
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  text-align: center;
  width: 50%;
}

#map {
  height: 100%;
}
